{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<h1 class="w-100 mx-auto d-block text-center" style="padding-top: 14vh; padding-bottom: 2vh;">
					Network Hacking 101
				</h1> 
				<!-- TODO(victor): Figure out how to host the guide materials locally -->
				<a class="btn btn-dark challenge-button w-100 pt-3 pb-3 mb-2"
					href="https://docs.naumachia.net/Network%20Hacking%20101%20f9137337b4854b6894753df338a3942f.html">
				   Workshop Materials
				</a>
				<a class="btn btn-dark challenge-button w-100 pt-3 pb-3 mb-2"
					href="/challenges">
				   Challenges
				</a>
			</div>
		</div>
	</div>
{% endblock %}
